@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .search-bar {
    @apply w-0 group-hover:w-[300px] transition-all duration-300 rounded-full group-hover:border group-hover:border-gray-500 px-3 py-1 focus:outline-none dark:border-gray-800 dark:bg-gray-900 group-hover:dark:bg-gray-800;
  }
}

@layer utilities {
  .hero-bg-color {
    @apply bg-gradient-to-r from-gray-300/80 to-gray-100 
    dark:from-gray-900 dark:to-gray-800 dark:text-white;
  }

  .form-input{
    @apply w-full rounded-full border border-gray-300
     dark:border-gray-500 dark:bg-gray-800
     px-2 py-1 mb-4;
  }
}






.state-error,
.state-not-found {
  text-align: center;
  padding: 2rem;
}

.state-icon {
  width: 100px;
  margin-bottom: 1rem;
}

.state-actions {
  margin-top: 1rem;
}

.state-actions .btn {
  margin: 0 0.5rem;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}




.spinner {
  width: 11.2px;
  height: 11.2px;
  animation: spinner-o824ag 1s infinite linear;
}

.spinner div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #474bff;
  border-radius: 50%;
  animation: spinner-vse6n7 1.25s infinite ease;
}

.spinner div:nth-child(1) {
  --rotation: 90;
}

.spinner div:nth-child(2) {
  --rotation: 180;
}

.spinner div:nth-child(3) {
  --rotation: 270;
}

.spinner div:nth-child(4) {
  --rotation: 360;
}

@keyframes spinner-vse6n7 {
  0%, 100% {
     transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
  }

  50% {
     transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
  }
}

@keyframes spinner-o824ag {
  to {
     transform: rotate(360deg);
  }
}